header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #e3b842;
  background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
}