.new-tweet {
  width: 100%;
  background: white;
  padding: 20px;

}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

#tweet-text {
  border: 0;
  border-bottom: 5px solid #555249;
  margin: 5px 0;
  resize: none;
}

.new-tweet div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}

.new-tweet button {
  background: #4056A1;
  color: white;
  padding: 10px;
  font-size: 80%;
}