.new-tweet {
  width: 100%;
  padding: 20px;
  margin: 10px 0;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Bungee", sans-serif;
  font-size: 0.8em;
}

button {
  background: #4056A1;
  color: white;
  padding: 10px;
  border: 0;
}

#tweet-text {
  border: 0;
  border-bottom: 5px solid #555249;
  margin: 5px 0;
  resize: none;
  background: inherit;
}